@font-face {
  font-family: "ProximaNova-Regular";
  src: url("fonts/proximanova-regular-webfont.woff2") format("woff2");
  src: url("fonts/proximanova-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNovaT-Thin";
  src: url("fonts/proximanovat-thin-webfont.woff2") format("woff2");
  src: url("fonts/proximanovat-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "ForeverBrushScript";
  src: url("fonts/forever_brush_script-webfont.woff2") format("woff2");
  src: url("fonts/forever_brush_script-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Font-Awesome-5-Brands-Regular";
  src: url("fonts/fa-brands-400-webfont.woff2") format("woff2");
  src: url("fonts/fa-brands-400-webfont.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  font: 400 18px/1.8 "ProximaNova-Regular", sans-serif;
  color: #fff;
}

h2 {
  font: 400 56px/1 "ForeverBrushScript", sans-serif;
  position: relative;
}

h3,
h4 {
  text-align: left;
}

h4 {
  font-size: 18px;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  width: 109px;
  height: 2px;
  background: #c8235d;
}

h2.our-story_head::after {
  background: #fff;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wraper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.main {
  flex-grow: 1;
}

.header {
  position: relative;
  font: 400 16px/1 "ProximaNova-Regular", sans-serif;
  padding-top: 60px;
}

.nav-list,
.nav-list_general {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
}

.nav-list a,
.nav-list_general a,
.nav-list_info a {
  display: inline-block;
  padding: 3px 15px;
  color: #fff;
  text-decoration: none;
}

.nav-list a:hover,
.nav-list li.active a,
.nav-list_general a:hover,
.nav-list_general li.active a,
.nav-list_info a:hover,
.nav-list_info.active a,
.icons a:hover {
  border-bottom: 1px solid #808080;
}

.nav-list_info a,
.nav-list_general a {
  border-bottom: 1px solid transparent;
}

.nav-list li.active a,
.nav-list_general li.active a,
.nav-list_info li.active a {
  cursor: auto;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu {
  width: 200px;
  background: #252529;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 0.3s linear, transform 0.3s;
}

.submenu a {
  display: block;
  padding: 10px 15px;
}

.submenu li {
  border-bottom: 1px solid #808080;
}

.nav-list > li {
  padding: 0 15px;
  position: relative;
}

.nav-list > li:hover {
  background: #252529;
}

.submenu a:hover {
  color: #808080;
  border: none;
}

.nav-list li:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#burger {
  display: none;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("images/bg-intro.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font: 400 20px/1.8 "ProximaNova-Regular", sans-serif;
  color: #fff;
  margin-top: -84px;
}

.banner_text {
  max-width: 740px;
  margin: 0 auto;
}

.head_title {
  font: 100 72px/1 "ProximaNovaT-Thin", sans-serif;
  text-transform: uppercase;
}

.our-story {
  background-color: #962323;
  font: 400 18px/1.8 "ProximaNova-Regular", sans-serif;
  color: #fff;
  text-align: center;
  padding: 120px 0;
}

.img1 {
  max-width: 450px;
}

.text {
  display: block;
  flex-wrap: wrap;
  max-width: 530px;
}

.our-story_head {
  padding: 30px;
  margin-top: 0;
}

.singatures {
  text-align: center;
  background: url("images/bg-content.jpg");
  background-size: cover;
  background-position: center;
  font: 400 18px/1.8 "ProximaNova-Regular", sans-serif;
  color: #fff;
  padding-top: 105px;
  padding-bottom: 105px;
}

.singatures_head {
  padding: 30px;
  margin-top: 0;
}

.singatures_text {
  max-width: 530px;
  margin: 0 auto;
}

.our-menu {
  background-color: #f3f4f7;
  font: 400 16px/1.25 "ProximaNova-Regular", sans-serif;
  color: #0b0c0d;
  padding: 80px 0;
}

.nav-list_our-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.our-menu_head {
  color: #000;
  text-align: center;
  padding: 30px;
  margin-top: 0;
}

.title_our-menu {
  text-align: left;
}

.price {
  color: #c8235d;
  float: right;
}

.flex-item {
  flex-basis: 50%;
  list-style-type: none;
}

.flex-item:nth-child(odd) {
  padding: 10px 70px 10px 0;
}

.flex-item:nth-child(even) {
  padding: 10px 0 10px 70px;
}

.pictures {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
}

.card {
  max-width: 480px;
  border: 1px solid #000;
  position: relative;
}

.card:hover .card-link {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s linear;
}

.card-link {
  display: flex;
  align-items: center;
  font-size: 25px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  opacity: 0;
  transition: transform 0.2s linear;
}

.card-link a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background-color: rgba(14, 11, 11, 0.5);
  height: 100%;
  width: 100%;
}

.dish {
  text-align: center;
}

.img {
  max-width: 100%;
  height: auto;
}

.card img {
  display: block;
}

.footer-info {
  background: #252529;
  font: 400 14px/1.7 "Roboto-Regular", sans-serif;
  color: #fff;
  padding: 80px 0;
}

.restaurant {
  flex: 1 1 25%;
  padding: 0 5px;
  margin: 10px;
}

.scm {
  flex: 2 1 50%;
  padding: 0 5px;
  margin: 10px;
}

.contact_us {
  flex: 1 1 25%;
  padding: 0 5px;
  margin: 5px;
  font: 700 14px/1.7 "Roboto-Bold", sans-serif;
}

.title_restaurant {
  font: 400 26px/1 "Font-Awesome-5-Brands-Regular", sans-serif;
  margin-top: 5px;
  margin-bottom: 35px;
}

.title_contact_us {
  margin-top: 35px;
}

.container_scm {
  max-width: 600px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.nav-list_info {
  margin: 0;
  padding: 0;
}

.main-nav_info {
  padding: 10px 0;
}

.nav-list_info li,
.nav-list_contact_us li {
  list-style-type: none;
  text-align: left;
}

.nav-list_info li a,
.main-nav_contact_us li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  padding: 0;
}

.about {
  flex: 1 1 33.33%;
  padding: 0 25px;
  margin: 0;
}

.nav-list_contact_us {
  padding: 0;
}

.nav-list_contact_us i {
  font-size: 15px;
  color: #c8235d;
  margin: 10px 10px 10px 0;
}

.footer-general {
  background: #16171b;
  font: 400 16px/1.5 "Roboto-Regular", sans-serif;
  color: #8b8b8d;
  padding: 20px 0;
}

.copyrights {
  flex: 1 1 25%;
  padding: 15px;
}

.general {
  flex: 2 1 45%;
  padding: 15px;
}

.icons {
  flex: 1 1 30%;
  padding: 15px;
}

.icons a,
.nav-list_general a {
  padding: 1px 5px;
  margin: 1px 5px;
  color: #8b8b8d;
}

@media (max-width: 1199px) {
  .header {
    font-size: 14px;
    padding-top: 40px;
  }

  .nav-list a {
    padding: 3px 5px;
  }

  .submenu {
    width: 100px;
  }

  .submenu a {
    display: block;
    padding: 10px 15px;
  }

  .intro {
    font-size: 16px;
    margin-top: -64px;
  }

  .banner_text {
    max-width: 450px;
  }

  .head_title {
    font-size: 44px;
  }

  .our-story {
    font-size: 16px;
    padding: 60px 0;
  }

  .our-story_head,
  .singatures_head,
  .our-menu_head {
    padding: 20px;
    margin-top: 0;
  }

  h2 {
    font-size: 38px;
    position: relative;
  }

  .singatures {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .our-menu {
    font-size: 14px;
    padding: 50px 0;
  }

  .flex-item:nth-child(odd) {
    padding: 5px 20px 10px 5px;
  }

  .flex-item:nth-child(even) {
    padding: 5px 10px 5px 20px;
  }

  .card-link {
    font-size: 16px;
  }

  .footer-info {
    font-size: 12px;
    padding: 15px 0;
  }

  .contact_us {
    font-size: 12px;
  }

  .title_restaurant {
    font-size: 16px;
  }

  .title_contact_us {
    margin: 30px 0 20px;
  }

  h4 {
    font-size: 14px;
  }

  .container_scm {
    padding: 0 5px;
  }

  .about {
    flex: 1 1 33.33%;
    padding: 0 10px;
    margin: 0;
  }

  .nav-list_contact_us i {
    font-size: 10px;
  }

  .footer-general {
    font-size: 10px;
  }

  ul.nav-list_general {
    font-size: 12px;
    padding: 0;
  }

  .copyrights {
    flex: 1 1 25%;
    padding: 5px;
  }

  .general {
    flex: 1 1 46%;
    padding: 5px;
  }

  .icons {
    flex: 1 1 29%;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .header .flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h2::after {
    bottom: -1px;
  }

  .header {
    padding-top: 30px;
  }

  .header-logo {
    max-width: 100px;
  }       

  .nav-list {
    font-size: 14px;
  }

  .nav-list a {
    display: inline-block;
    padding: 4px;
  }

  .nav-list li {
    border-bottom: 1px solid #808080;
    padding-left: 0;
  }

  .submenu {
    width: 150px;
    left: -100%;
    top: 0;
    opacity: 0;
    background: rgba(59, 55, 55, 0.5);
  }

  .nav-list {
    display: none;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(59, 55, 55, 0.5);
  }

  #burger:checked ~ .nav-list {
    display: block;
    padding-top: 50px;
  }

  .burger-icon {
    top: 15px;
    right: 20px;
    position: absolute;
    width: 40px;
    z-index: 20;
  }

  .burger-icon span,
  .burger-icon::after,
  .burger-icon::before {
    background: #808080;
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    margin: 8px 0;
    transition: 0.5s;
  }

  #burger:checked ~ .burger-icon:before {
    transform: translateY(12px) rotate(135deg);
  }

  #burger:checked ~ .burger-icon:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  #burger:checked ~ .burger-icon span {
    transform: scale(0);
  }

  .intro {
    font-size: 14px;
    margin-top: -50px;
  }

  .banner_text {
    max-width: 350px;
  }

  .head_title {
    font-size: 34px;
  }

  .our-story {
    font-size: 14px;
    padding: 50px 0;
  }

  .img1 {
    max-width: 350px;
  }

  .text {
    max-width: 350px;
  }

  .our-story_head {
    padding: 30px;
    margin-top: 0;
  }

  .singatures {
    font-size: 14px;
    padding: 50px 0;
  }

  .singatures_head {
    padding: 10px 30px 30px;
    margin-top: 0;
  }

  .singatures_text {
    max-width: 350px;
  }

  .our-menu {
    font-size: 14px;
    padding: 30px 0;
  }

  .our-menu_head {
    padding: 10px 30px 30px;
    margin: 0;
  }

  .nav-list_our-menu {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
  }

  .flex-item:nth-child(odd) {
    padding: 10px;
  }

  .flex-item:nth-child(even) {
    padding: 10px;
  }

  .pictures .flex-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .card-link {
    font-size: 10px;
    line-height: 1;
  }

  .card {
    max-width: 150px;
  }

  .footer-info {
    font-size: 12px;
    padding: 15px 0;
  }

  .restaurant,
  .scm {
    max-width: 350px;
  }

  .title_restaurant,
  .restaurant,
  .contact_us,
  .title_contact_us {
    text-align: center;
  }

  .nav-list_info li {
    display: inline-block;
    width: auto;
  }

  .copyrights {
    order: 3;
  }
}

@media (max-width: 479px) {
  h3 {
    font-size: 14px;
  }

  .submenu {
    width: 130px;
    left: -100%;
  }

  .nav-list {
    width: 130px;
  }

   .head_title {
    font-size: 24px;
  }

  .intro {
    font-size: 12px;
  }

  .banner_text {
    padding: 10px;
  }

  .about {
    padding: 0 9px;
    margin: 0;
  }

  .nav-list_general a {
    padding: 3px;
    margin: 2px 4px;
  }
}
